Django==1.4.1
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
boto==2.5.2
celery==3.0.9
dj-database-url==0.2.1
django-celery==3.0.9
django-debug-toolbar==0.9.4
django-nose==1.1
django-storages==1.1.5
gunicorn==0.14.6
kombu==2.4.5
newrelic==1.5.0.103
nose==1.1.2
psycopg2==2.4.5
pylibmc==1.2.3
python-dateutil==1.5
sure==1.0.5
wsgiref==0.1.2
