Django
South
amqplib
anyjson
billiard
boto
celery
dj-database-url
django-celery
django-debug-toolbar
django-nose
django-social-auth
django-storages
gunicorn
kombu
newrelic
nose
psycopg2
pylibmc
python-dateutil
sure
wsgiref
