# #########################################
# Django Specific Packages
# #########################################
Django
gunicorn
wsgiref


# #########################################
# Static File Storage using AWS S3
# #########################################
django-storages
boto


# #########################################
# Database Functionality
# #########################################
psycopg2
dj-database-url
South


# #########################################
# Celery
# #########################################
celery
django-celery
kombu


# #########################################
# Debugging Functionality
# #########################################
newrelic
django-debug-toolbar
django-nose
nose
sure


# #########################################
# Social Authentication
# #########################################
django-social-auth


# #########################################
# Memcache Functionality
# #########################################
pylibmc
django-pylibmc-sasl
